.carousel-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #ffffff;
    position: relative;
    top: 14px;
}
