.about-page {
	background-image: url('../../../assets/img/about-page.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: center;
}

.about-wrap {
	padding: 150px 0;
}

.about-title {
	margin-bottom: 53px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 150%;
	color: #333333;
}

.about-desc {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 160%;
	color: #333333;
	margin: 0;
}
