body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.containers {
	// width: 100% !important;
	box-sizing: border-box !important;
	max-width: 1280px !important;
	padding: 0 50px !important;
	margin: 0 auto !important;
}
